:root {
  --purple1: #faf5ff;
  --purple2: #f3e8ff;
  --purple3: #e9d5ff;
  --purple4: #d8b4fe;
  --purple5: #c084fc;
  --purple6: #a855f7;
  --purple7: #9333ea;
  --purple8: #7e22ce;
  --purple9: #6b21a8;
  --purple10: #581c87;
  --purple11: #3b0764;

  --color-main: #2e2a2b;
  --color-secondary: #DDDDCF;
  --color-secondary-transparent: #DDDDCFAA;

  --color-white: var(--purple3);
  --color-titre: var(--purple1);
  --color-texte: var(--purple2);





  --background-color: linear-gradient(90deg, rgb(10, 72, 153) 0%, rgb(10, 72, 153) 24%, rgb(10, 72, 153) 100%);
  --color-texte: #f3e8ff;
  --background-color2: #FFF;
  --color-texte2: #402060;
  --background-transparent: #110b27a2;
  --image-defaut: 'images/defaut.jpg';
}


#loading-message {
  display: none;
  text-align: center;
  font-size: 20px;
  padding: 20px;
  background-color: #f3f3f3;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}






/* GENERAL */

html{
  width: 100vw !important;
  overflow-x: hidden !important;
}
body{
  width: 100vw;
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}
h1, h2, h3{
  color: var(--color-texte);
  font-family: 'Tiro Telugu', sans-serif;
}
h2{
  margin-top: 0;
}
h2::after, .h1::after {
  content: "";
  width: 50px;
  height: 5px;
  display: block;
}

h2.violet::after,.h1.violet::after {
  background-color: var(--color-texte2);
}

h2.blanc::after,.h1.blanc::after {
  background-color: var(--color-texte);
}

input, textarea{
  font-family: 'Poppins', sans-serif;
}

p{
  color: var(--color-texte);
}
section{
  max-width: 100vw;
  overflow: hidden;
}
.container, .container2{
  border-bottom: 2px solid var(--color-texte);
  background: var(--background-color);
  padding: 80px 5%;
}
.container2{
  background: var(--background-color2) !important;
}

.center{
  text-align: center;
}

.mt-3{
  margin-top: 60px;
}

.p-2{
  padding: 20px;
}

.img-left{
  width: 30vw;
  height: auto;
  object-fit: cover;
  border-bottom-right-radius: 35px;
  margin-right: 100px;
}

.img-right{
  width: 30vw;
  height: 200px;
  object-fit: cover;
  border-bottom-left-radius: 35px;
  margin-left: 100px;
}

.flex{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.flex.col-2{
  justify-content: space-between;
  max-width: 100vw;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}
.col-1 > div {
  width: 100%;
  text-align: justify; 
  overflow: hidden;
}
.col-2 > div {
  width: 48%;
}
.col-3 > div {
  width: 30%;
  text-align: justify; 
}
.col-4 > div {
  width: 23%;
  text-align: justify; 
}
/* .col-2 > div:first-child {
  padding-right: 50px;
}

.col-2 > div:nth-child(2) {
  padding-left: 50px;
} */

.w-3{
  width: 25%;
}
.w-4{
  width: 33%;
}
.w-6{
  width: 50%;
}
.w-8{
  width: 66%;
}

.button{
  display: inline-block;
  margin-top: 20px;
  border: 1px solid var(--color-texte);
  border-radius: 10px;
  padding: 10px 20px;
  width: fit-content;
  color: var(--color-texte);
  text-decoration: none;
}
.button:hover{
  background-color: var(--color-texte);
  color: var(--color-texte2);
}

.violet.button{
  border: 1px solid var(--color-texte2); 
}

.violet.button:hover{
  background-color: var(--color-texte2);
  color: var(--color-texte) !important;
}

a{
  color: var(--color-texte);
}

.titre{
  font-size: 20px;
  color: var(--color-texte);
}

.bold{
  margin-left: 10px;
}

img{
  image-rendering: crisp-edges;
}

/* HEADER */
header.container{
  padding-top: 150px;
  /* background: url('images/fond.jpg'); */
  height: 60vh;
  width: auto;
  z-index: -1;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
}
#hero{
  background-color: var(--background-transparent);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-size: cover;
  height: 300px;
  border-radius: 20px 0 0 20px;
  float: right;

  width: 30vw;
  margin-left: 100px;
}
header h1{
  font-size: 24px;
  margin-top: 0;
}
header h2{
  font-size: 55px;
  margin-bottom: 20px;
}

header h1, header p{
  /* color: var(--purple9); */
  color: var(--color-texte);
}

/* MENU */
.menu{
  display: flex;
  justify-content: space-around;
  height: 100px;
  /* background-color: var(--color-secondary-transparent); */
  background: rgb(10, 72, 153);
  background: linear-gradient(90deg, rgb(10, 72, 153) 0%, rgb(10, 72, 153) 24%, rgb(10, 72, 153) 100%);
  border-radius: 0 0 80px 0;
  border-bottom: 1px solid var(--color-texte);
  position: fixed;
  width: 100%;
  z-index: 9999;
  top: 0;
  width: 100vw;
}

.logo{
  height: 80%;
  padding: 10% 0;
}

.pages{
  display: flex;
  justify-content: end;
  flex-wrap: wrap;
  list-style: none;
  height: 100%;
  margin: 0;
  padding: 0;
}

.page{
  padding: 0 12px;
  text-decoration: none;
  color: var(--color-texte);
  align-items: center;
  height: 100%;
  display: flex;
  align-items: center;
}

.burger-menu {
display: none;
cursor: pointer;
}

.bar {
width: 25px;
height: 3px;
background-color: #fff;
margin: 5px 0;
}

/* A PROPOS */
#a-propos{
  background-color: var(--background-color2);
}
#a-propos h2, #a-propos h3, #a-propos p, #a-propos li, #a-propos a, #a-propos b, #a-propos span, #a-propos i, .violet{
  color: var(--color-texte2);
}
#liste-apropos{
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
}
#liste-apropos li{
  color: var(--color-texte);
  list-style: none;
  display: block;
  width: 50%;
  padding: 7px 0;
}

/* PARCOURS */
/* #parcours {
  background-color: var(--color-texte);
}

#parcours h2{
  color: var(--purple10);
} */

.parcours {
  padding: 5px 15px;
  border-radius: 10px;
  border: 2px solid var(--color-texte);
  margin-bottom: 35px;
  background-color: var(--background-color);
}

.parcours li, .date{
  color: var(--color-texte);
}

.parcours > p {
  text-align: justify;
}

/* Projets */
.card {
  margin: 0 10px;
  /* border: 2px solid var(--color-texte2); */
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0.5em 1em -0.125em rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.02);
}
.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card > div{
  padding: 20px;
  /* background-color: var(--background-color); */
}
.card ul{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  list-style: none;
  color: var(--color-texte2);
  padding: 0;
}
.card li {
  border: 1px solid;
  padding: 5px 15px;
  border-radius: 50px;
  margin: 7px;
}

.card .button{
  width: -webkit-fill-available;
  text-align: center;
  /* margin-top: 0; */
  margin-bottom: 30px;
}

/* Contact */
#contact{
  border-bottom: none;
}

/* Projet */
.slider-container {
  width: 50%;
  margin: auto;
  position: relative;
}

.control {
  list-style: none;
}

.control li {
  position: absolute;
  z-index: 99;
  top: 40%;
  transform: translateY(-50%);
  color: white;
  background: rgba(0, 0, 0, 0.19);
  padding: 10px 16px;
  border-radius: 50%;
  cursor: pointer;
}

.control li:hover {
  background: rgba(0, 0, 0, 0.5);
}

.control li.prev {
  left: 20px;
}

.control li.next {
  right: 20px;
}

.tns-nav {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

.tns-nav button {
  height: 13px;
  width: 8px;
  background-color: #a5a5a5;
  border: none;
  margin-left: 7px;
  border-radius: 50%;
}

.tns-nav .tns-nav-active {
  background-color: black;
}

li > i {
  font-size: 20px !important;
}

.my-slider img{
  object-fit: contain;
  max-height: 500px;
}

/* Mobile */
@media (max-width: 768px) {
  .projet-card.card.p-2{
      padding: 20px !important;
      width: 90% !important;
  }
  /* General */
  .card p, .parcours p, #home h1, #home p {
      text-justify: initial;
      text-align: left;
  }
  .flex{
      flex-direction: column;
      align-items: flex-start;
  }
  .col-2 > div, .col-3 > div{
      width: 100% !important;
  }
  .w-8{
      width: 100% !important;
  }
  #liste-apropos li{
      width: 100% !important;
  }
  header.container{
      height: auto !important;
      padding-top: 40px !important;
  }

  .container, .container2{
      padding: 40px 5% !important;
  }

  .col-2 > div:first-child, .col-2 > div:nth-child(2){
      padding: 0 !important;
  }

  ul{
      padding: 0;
  }

  .parcours ul{
      padding-left: 20px;
  }

  /* MENU */
  .menu{
      border-radius: 0;
  }
  .burger-menu {
      display: flex;
      justify-content: flex-end;
      padding: 10px;
      /* background: linear-gradient(90deg, rgba(107,33,168,1) 0%, rgba(126,34,206,1) 24%, rgba(147,51,234,1) 100%); */
      height: 80px;
      cursor: pointer;
  }
  
  .burger-icon{
      z-index: 99999;
      position: fixed;
      top: 35px;
      right: 30px;
  }

  .burger-menu .bar {
      background-color: #fff;
      transition: transform 0.3s;
  }

  .burger-icon.cross .bar:nth-child(1) {
      transform: rotate(-45deg) translate(-5px, 6px);
  }

  .burger-icon.cross .bar:nth-child(2) {
      opacity: 0;
  }

  .burger-icon.cross .bar:nth-child(3) {
      transform: rotate(45deg) translate(-5px, -6px);
  }

  .pages {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 60px;
      left: 0;
      width: 100%;
      height: auto;
      background: linear-gradient(90deg, rgba(107,33,168,1) 0%, rgba(126,34,206,1) 24%, rgba(147,51,234,1) 100%);
      padding: 10px;
      box-sizing: border-box;
  }

  .pages > li {
      padding: 10px 0;
  }

  .pages.show {
      display: flex;
      margin-top: 41px;
      border-bottom: 1px solid var(--color-texte);
  }

  .card{
      margin: 0;
      margin-bottom: 20px;
  }
  #projets.mt-3{
      margin-top: 0 !important;
  }

  /* Projet */
  .control > li {
      display: none;
  }
  .slider-container{
      width: 100%;
      margin-bottom: 40px;
  }

  .container2[style*="margin-top: 101px"] {
      margin-top: 0 !important;
  }

  
}